/* Universal Selector */
* {
    font-family: Arial, sans-serif;
}

/* Element Selector */
p {
    color: green;
    font-size: 16px;
}

/* ID Selector */
#mainTitle {
    background-color: lightgray;
    text-align: center;
    color: darkblue;
}
